# Java/Maven
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
!backend/src/main/**/target/
!backend/src/test/**/target/

# Spring Boot specific
backend/HELP.md

# IntelliJ IDEA
backend/.idea
*.iws
*.iml
*.ipr

# STS
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache

# NetBeans
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/build/
!backend/src/main/**/build/
!backend/src/test/**/build/

# VS Code
.vscode/
